@import "reset";
@font-face {
  font-family: 'iconfont';  /* project id 540628 */
  src: url('http://at.alicdn.com/t/font_540628_m3id1fsahvyrpb9.eot');
  src: url('http://at.alicdn.com/t/font_540628_m3id1fsahvyrpb9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_540628_m3id1fsahvyrpb9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_540628_m3id1fsahvyrpb9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_540628_m3id1fsahvyrpb9.svg#iconfont') format('svg');
}
body{
    overflow: scroll;
    overflow-x:hidden;
}
.iconfont {
    font-family: "iconfont";
    font-size: 12px; 
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px; 
    vertical-align: middle;
}
@mixin goods{
    color: rgb(153, 145, 140); 
    height: 160px;
    line-height: 160px;
    text-align: center;
    font-size: 16px;  
}
@mixin btn{
    height: 35px;
    padding: 4px 12px;
    float: right;
    background: rgb(255, 84, 130);
    font-size: 13px;
    line-height: 24px;
    border-color: rgb(255, 60, 112) rgb(255, 60, 112) rgb(229, 51, 99);
    margin: 6px 15px;
    border-radius: 4px;
    color: #FFFFFF;
}
.top-nav{
    height: 28px;
    border-bottom: 1px solid #e8e8e8;
    background: #f4f4f4;
    .comwidth{
        position: relative;
        height: 100%;
    }
    ul{
        position: absolute;
        line-height: 28px;
        right: 0;
        top: 0;
        font-size: 12px;
        .seg{
            height: 15px;
            width: 1px;
            margin: 7px 0;
            background: #ddd;
        }
        .small{
            margin-left: 16.5px;
            margin-right: 7.5px;
            span{
                display: none;
            }
        }
//      .small:hover{
//          width: 85px;
//          line-height: 20px;
//          margin-left: 9px;
//          margin-top: 3px;
//          border: 1px solid #999;
//          text-align: center;
//          margin-right: 0;
//          background: #ffffff;
//          span{
//              display: block;
//              line-height: 20px;
//              padding-right: 12px;
//          }
//      }
        li{
            float: left;
            margin-left: 12px;
            margin-right: 12px;
            .iconhelp{
                color: #FF5482;
            }
            a{
                font-size: 12px;
                line-height: 12px;
                display: inline-block;
                color: #555;
            }
            a:hover{
                text-decoration: underline;
            }
            .striking-link{
                color: #ff5482;
            }
        }
        .follow{
            height: 22px;
            width: 47px;
            line-height: 22px;
            position: relative;
            span{
                text-align: center;
                width: 55px;
                font-size: 12px;
                top: 2px;
                position: absolute;
                padding-top: 3px;
                line-height: 17px;
                display: inline-block;
                height: 17px;
                z-index: 100;
                border: 1px solid transparent;
                border-bottom: 0;
            }
            span:hover{
                border: 1px solid #999;
                border-bottom: 0;
                background: #FFFFFF;
            }
            .dropdown-block{
                display: none;
                text-align: center;    
                position: absolute;
                background: #FFFFFF;
                width: 200px;
                top: 22px;
                left: -80px;
                padding: 10px;
                border: 1px solid #999;
                font-size: 12px;
                line-height: 12px;
                z-index: 99;
                img{
                        display: inline-block;
                    }
                dl{
                    float: left;
                    dd{
                        color: #666;
                        font-size: 12px;
                        line-height: 1.4em;
                    }
                }
                .wechat{
                    line-height: 1.4em;
                    width: 135px;
                    text-align: center;
                    border-right: 1px dotted #cdcbce;
                 }
                .social{
                    
                    width: 64px;
                    dd img{
                        cursor: pointer;
                        margin: 10px 0;
                        text-align: center;
                        line-height: 1.4em;
                    }
                }
            }
            
        }
    }
}
.head{
    height: 129px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    .comwidth{
        height: 90px;
        position: relative;
        h1{
            width: 250px;
            height: 60px;
            padding-top: 15px;
        }
        >a{
            position: absolute;
            left: 525px;
            top:25px;
            width: 390px;
            height: 40px;
            display: block;
            background: url("http://b0.hucdn.com/party/2016/6/upload_ae75f583dcb3536e115449a11bde5434_390x40.png") no-repeat;
        }
        .shoppingcar{
            height: 34px;
            position: absolute;
            left: 947px;
            top: 28px;
            width: 132px;
            background: #ff647c;
            border-radius: 10px;
            .icon{
                position: absolute;
                top: 0;
                left: -16px;
                width: 32px;
                height: 32px;
                border: 2px solid #ffffff;
                border-radius: 50%;
                background: #444;
                text-align: center;
                color: #FFFFFF;
                i{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            a{
                line-height: 34px;
                padding: 0 12px 0 24px;
                font-size: 15px;
                color: #ffffff;
                i{
                    font-size: 15px;
                    padding-left: 4px;
                }
            }
            .shoppingsettle{
                display: none;
                width: 340px;
//              height: 208px;
                border: 1px solid rgb(255, 84, 130);
                position: absolute;
                right: 0;
                top: 34px;
                background: #FFFFFF;
                z-index: 1;
                .cartop{
//                  height: 160px;
                    width: 340px;
                    .wrap{
                        height: 160px;
                        @include goods;
                    }
                    ul{
                        width: 100%;
                        max-height: 424px;
                        background: rgb(255, 255, 255);
                        overflow-y: hidden;
                        overflow: hidden;
                        li{
                            display: list-item;
                            padding: 12px;
                            list-style: none;
                            position: relative;
                            overflow: hidden;
                            height: 60px;
                            border-bottom: none;
                            a:nth-child(1){
                                padding: 0;
                            }
                            a:nth-child(2){
                                position: absolute;
                                left: 0px;
                                top: 15px;
                                padding: 0px 10px 0px 80px;
                                line-height: 1.2em;
                                height: 30px;
                                overflow: hidden;
                                font-size: 13px;
                                margin: 0px;
                                width: 50%;
                                z-index: 3;
                                color: #000000;
                            }
                            img{
                                border: 2px solid rgb(204, 204, 204);
                                background: rgb(255, 255, 255);
                                padding: 2px;
                                width: 50px;
                                height: 50px;
                                position: relative;
                                z-index: 4;
                            }
                            p:nth-child(3){
                                position: absolute;
                                color: rgb(170, 170, 170);
                                left: 0px;
                                top: 52px;
                                padding: 0px 10px 0px 80px;
                                line-height: 1.2em;
                                height: 14px;
                                overflow: hidden;
                                font-size: 12px;
                                margin: 0px;
                                width: 50%;
                            }
                            p:nth-child(4){
                                position: absolute;
                                color: rgb(255, 84, 130);
                                right: 15px;
                                top: 25px;
                                overflow: hidden;
                                font-size: 16px;
                                padding-left: 80px;
                                margin: 0px;
                                width: 30%;
                                line-height: 1em;
                                text-align: right;
                                span{
                                    display: inline;
                                    color: rgb(136, 136, 136);
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                .carbottom{
                    height: 47px;
                    border-top: 1px solid rgb(227, 227, 227);
                    width: 340px;
                    background: rgb(255, 249, 251);
                    .cartotle{
                        padding: 10px 15px;
                        font-size: 13px;
                        color: rgb(102, 102, 102);
                        float: left;
                        #cash{
                            font-size: 18px;
                            color: rgb(229, 51, 99);
                            line-height: 27px;
                        }
                    }
                    button{
                        cursor: pointer;
                        @include btn;
                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .main-nav{
        height: 38px;
        background: #ff647c;
        .comwidth{
            height: 38px;
            ul{
                float: left;
            }
            #home{
                background: #f34660;
            }
            li{
                float: left;
                width: 95px;
                text-align: center;
                position: relative;
                a{
                    display: block;
                    height: 100%;
                    width: 100%;
                    line-height: 38px;
                    color: #FFFFFF;
                    font-size: 15px;
                    font-weight: bold;
                }
                a:hover{
                    background:#f34660 ;
                }
                em{
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    width: 27px;
                    height: 18px;
                    background: url('http://b0.hucdn.com/party/2016/12/upload_829e7d60f494bb7159132f6c5181c30b_54x36.png') ;
                    background-size: 100%;
                }
            }
            .classify{
                float: left;
                height: 38px;
                position: relative;
                width: 105px;
                line-height: 38px;
                text-align: center;
                a{
                  color: #FFFFFF; 
                  padding-left: 33px;
                  font-size: 12px;
                  line-height: 14px; 
                  i{
                      font-size: 12px;
                  }
                }
                .classify-tab{
                    display: none;
                    position: absolute;
                    height: 524px;
                    width: 490px;
                    border: 1px solid #ececec;
                    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.15);
                    top: 38px;
                    left: -173px;
                    z-index: 2;
                    background: #FFFFFF;
                    .tab-title{
                        width: 111px;
                        cursor: pointer;
                    }
                    li{
                        text-align: right;
                        float: none;
                        height: 34px;
                        width: 80px;
                        padding-right: 30px;
                        border-bottom: 1px solid rgb(236, 236, 236) ;
                        background: #f9f9f9;
                        border-right: 1px solid #e0e0e0;
                    }
                    .tab-hover-default{
                        background: #FFFFFF;
                        border-right: #FFFFFF;
                    }
                }
                .tab-content{
                    padding: 10px 10px 0;
                    width: 359px;
                    float: right;
                    cursor: pointer;
                    position: absolute;
                    left: 111px;
                    top: 0; 
                    background: #FFFFFF;
                    dl{
                        height: 93px;
                        width: 60px;
                        padding: 15px 14px 0;
                        border-right: 1px dashed #ececec ;
                        border-bottom: 1px dashed #ececec ;
                        float: left;
                        img{
                            width: 60px;
                            height: 60px;
                        }
                        dd{
                            height: 33px;
                            font-size: 12px;
                            line-height: 33px;
                        }
                    }
                    dl:hover dd{
                        color: #ff4965;
                    }
                }
            }
            .search{
                height: 28px;
                float: right;
                width: 212px;
                position: relative;
                margin: 5px 1px;
                input{
                    height: 26px;
                    width: 200px;
                    outline: 0;
                    border: 0;
                    border-radius: 2px;
                    padding: 0 5px;
                    border: 1px solid #e6e6e6;
                    line-height: 28px;
                    font-size: 14px;
                }
                button{
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 0;
                    background: transparent;
                    height: 28px;
                    width: auto;
                    border-radius: 2px;
                    cursor: pointer;
                    i{
                        font-size: 17px;
                        color: #afafaf;
                        line-height: 28px;
                    }
                }
                button:hover i{
                    color: #ff4965;
                }
                .search-info{
                    display: none;
                    width: 210px;
//                  height: 182px;
                    border: 1px solid #F9F9F9 ;
                    position: absolute;
                    left: 0;
                    top: 26px;
                    background: #FFFFFF;
                    z-index: 999;
                    box-shadow: 0 3px 2px rgba(0,0,0,.2);
                    overflow: hidden;
                    a{
                        display: block;
                        line-height: 26px;
                        height: 26px;
                        width: 210px;
                        color: #3E3E3E;
                        font-size: 12px;
                        cursor: pointer;
                        .m-bn-keyword{
                            float: left;
                            margin-left: 5px;
                            width: 100px;
                            height: 26px;
                            overflow: hidden;
                        }
                        .m-bn-memo{
                            color: #A6A6A6;
                            float: right;
                            margin-right: 5px;
                        }
                    }
                    a:hover{
                        background: #eee;
                    }
                }
            }
        }
        
    }
}
.sub-nav{
    height: 30px;
    .comwidth{
        height: 100%;
        li{
            float: left;
            height: 100%;
            width: 56px;
            a{
                float: left;
                padding: 0 10px;
                line-height: 27px;
                font-size: 12px;
                color: #999;
                border-bottom: 3px solid transparent;
            }
            a:hover{
                border-bottom: 3px solid #FF697F;
            }
        }
        .seg{
            height: 21px;
            width: 1px;
            margin: 5px 20px 0;
            background: #ddd;
        }
        .diaper{
            width: 88px;
        }
        .sex-age{
            width: auto;
            position: relative;
            a{
                padding: 0;
            }
            a:hover{
                border-bottom: 3px solid transparent;
            }
            .sex-age-content{
                display: none;
                background: #ffffff;
                position: absolute;
                height: 146px;
                width: 230px;
                padding: 0 20px 9px;
                border: 1px solid #ddd;
                top: 30px;
                left: -115px;
                z-index: 1;
                h2{
                    font-size: 13px;
                    height: 20px;
                    margin: 15px 0 5px;
                }
                li{
                    width: auto;
                    a{
                        float: none;
                        padding-right: 13px;
                        font-size: 12px;
                    }
                }
                li:hover a{
                    color: #f34660; 
                }
            }
        }
        .trailer{
            height: 30px;
            width: auto;
            float: right;
            padding: 0 28px;
            background: #f7f7f7;
            a{
                font-size: 13px;
                color: #ff506b;
                float: left;
                margin-right: 12px;
                i{
                    font-size: 13px;
                    line-height: 27px;
                    margin-right: 4px;
                }
            }
            a:hover{
                border-bottom: 3px solid transparent;
            }
        }
    }
}
.carousel{
    height: 320px;
    background: #ff647c;
    cursor: pointer;
    .comwidth{
        height: 100%;
        position: relative;
        a{  
            display: block;
            position: absolute;
            top: 0;
            margin-left: -160px;
            height: 100%;
            img{
                outline: none;
                height: 100%;
            }
        }
        .carousel-tag{
            position: absolute;
            width: 250px;
            height: 318px;
            right: 0;
            top: 1px;
            background: #FFFFFF;
            opacity: 0.95;
            z-index: 0;
            a{
                position: static;
                height: auto;
                float: left;
                margin: 0;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                dl{
                    height: 156px;
                    width: 122px;
                    padding: 1px;
                    position: relative;
                    img{
                        height: 90px;
                        width: 90px;
                        margin: 26px 15px 2px;
                    }
                    dd{
                        font-size: 13px;
                        width: 94px;
                        text-align: center;
                        height: 20px;
                        line-height: 20px;
                        color: #7f7f7f;
                        margin: 0 auto;
                    }
                    .limit-price{
                        position: absolute;
                        top: 12px;
                        border-radius: 50%;
                        height: 36px;
                        width: 36px;
                        color: #fff;
                        line-height: 36px;
                        text-align: center;
                        left: 62px;
                        background: url("http://b0.hucdn.com/img/welcome/i_icon3.png") no-repeat -53px -33px;
                    }
                }
            }
        }
    }
}
.container{
    background: #f9f9f9;
    min-height: 1000px;
    .comwidth{
        position: relative;
    }
    .content-right{
        width: 250px;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 1;
        .m-brand{
            height: 360px;
            background: #FFFFFF;
            width: 248px;
            border: 1px solid #e7e7e7;
            overflow: hidden;
            position: relative;
            .brand-top{
                height: 39px;
                width: 248px;
                li:nth-child(1) a{
                        border-bottom: 2px solid #ff647c;
                    }
                li{
                    float: left;
                    width: 60px;
                    height: 39px;
                    padding: 0 32px;
                    a{
                        display: block;
                        width: 60px;
                        height: 37px;
                        line-height: 36px;
                        font-size: 14px;
                        color: #868686;
                    }
                    
                    a:hover{
                        font-weight: 700;
                    }
                }
            }
            .brand-center:nth-child(2){
                z-index: 1; 
            }
            .brand-center{
                position: absolute;
                width: 250px;
                background: #FFFFFF;
                li{
                    float: left;
                    width: 124px;
                    height: 56px;
                    border-bottom: 1px dashed #f1f1f1;
                    border-right: 1px dashed #f1f1f1;
                    position: relative;
                    img{
                        padding: 8px 22px;
                        width: 80px;
                        height: 40px;
                    }
                    .bg{
                        background: #000;
                        opacity: 0.02;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        display: none;
                    }
                }
                li:hover .bg{
                    display: block;
                }
            }
            .brand-bottom a{
                font-size: 14px;
                line-height: 30px;
                color: #959595;
                display: inline-block;
                text-align: center;
                width: 248px;
                background: #FFFFFF;
            }
        }
        .hot-sort{
            margin-top: 15px;
            width: 250px;
            .hot-sort-title span{
                font-size: 16px;
                line-height: 24px;
                color: #666666;
                padding-left: 25px;
                background: url("http://b0.hucdn.com/img/welcome/i_icon3.png") no-repeat -180px 2px;
            }
            .hot-sort-content{
                margin-top: 5px;
                width: 248px;
                border: 1px solid #e7e7e7;
                ul li{
                    float: left;
                    text-align: center;
                    border-right: 1px solid #dbdbdb;
                    border-bottom: 1px solid #dbdbdb;
                    width: 61px;
                    height: 31px;
                    line-height: 30px;
                }
                ul li:nth-child(4){
                    border-right: 0;
                }
                a{
                    display: block;
                    width: 228px;
                    height: 70px;
                    padding: 10px;
                    color: #3e3e3e;
                    border-bottom: 1px solid #F1F1F1;
                    background: #FFFFFF;
                    img{
                        width: 70px;
                        height: 70px;
                        float: left;
                    }
                    .m-title{
                        float: left;
                        width: 143px;
                        height: 36px;
                        margin-left: 10px;
                        overflow: hidden;
                        font-size: 12px;
                        line-height: 18px;
                    }
                    .m-price{
                         float: left;
                         width: 143px;
                         height: 21px;
                         margin-left: 10px;
                         line-height: 21px;
                         color: #ff5482;
                         b{
                             font-size: 12px;
                         }
                         em{
                             font-size: 14px;
                             font-weight: 700;
                         }
                         i{
                             font-size: 12px;
                             color: #a5a5a5;
                             margin-left: 5px;
                             text-decoration: line-through;
                         }
                     }
                }
            }
        }
    }
    .con-title{
        height: 30px;
        padding: 20px 0 10px ;
        width: 100%;
        color: #666;
        position: relative;
        #title-left{
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }
        #title-dotted{
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }
        #title-center{
            font-size: 20px;
            line-height: 30px;
        }
        #title-right{
            position: absolute;
            right: 272px;
            top: 30px;
            color: #999;
            font-size: 12px;
            a{
                color: #4bc1d2;
                font-size: 12px;
            }
        }
    }
    .container-box:hover{
        -webkit-box-shadow: 0 0 4px #ddd;
        border-color: #e0e0e0;
    }
    .container-box{
        width: 762px;
        height: 286px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0 0 3px #eee;
        margin-bottom: 15px;
        border: 1px solid #ececec;
        .container-brand-info{
            height: 50px;
            width: 100%;
            position: relative;
            img{
                float: left;
                width: 48px;
                height: 48px;
                border: 1px solid #ddd;
                border-radius: 6px;
            }
            .brand-name{
                font-size: 20px;
                line-height: 24px;
                margin-left: 60px;
                margin-bottom: 6px;
            }
            span{
                margin-left: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #8F8F8F;
            }
            .discount{
                position: absolute;
                right: 0;
                top: 9px;
                color: #ff4965;
                border: 1px solid rgba(255,73,100,.4);
                padding: 8px 11px;
                border-radius: 100px;
                font-size: 14px;
                line-height: 16px;
            }
        }
        .item-show{
            margin-top: 20px;
            width: 100%;
            .item-detail:nth-child(4){
                margin: 0;
            }
            .item-detail{
                float: left;
                margin-right: 29px;
                img{
                    width: 168px;
                    height: 168px;
                }
                .price-info{
                    width: 168px;
                    height: 28px;
                    span{
                        color: #ff4965;
                        line-height: 28px;
                        font-weight: 700;
                        font-size: 12px;
                    }
                    .now-price{
                        font-size: 18px;
                    }
                    .old-price{
                        font-weight: normal;
                        color: #8F8F8F;
                        text-decoration: line-through;
                    }
                }
                .item-info{
                    margin-top: 4px;
                    color: #8F8F8F;
                    font-size: 12px;
                    width: 168px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        a{
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    .more .comwidth{
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #FFFFFF;
        font-weight: 700;
        cursor: pointer;
    }
    .pic{
        margin-top: 50px;
        img{
            margin-left: -420px;
        }
        
    }
}
.footer{
    height: 222px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    background: #f1f1f1;
    .comwidth:nth-child(1){
        border-bottom: 1px solid #E9E1E8;
    }
    dl:nth-child(1){
        border-left: 0;
    }
    dl:nth-child(7){
        border-right: 0;
        width: 95px;
        font-size: 12px;
        padding-top: 10px;
        padding-left: 105px;
        background: url("http://b0.hucdn.com/img/common/sns_icon3.png") no-repeat left;
        dt{
            color: #ff5482;
            font-size: 12px;
            margin-left: 3px;
        }
        a{
            float: left;
            width: 34px;
            height: 34px;
            padding: 0;
            margin-right: 5px;
            margin-top: 20px;
        }
    }
    dl{
        float: left;
        margin: 15px 0;
        width: 115px;
        height: 120px;
        padding-left: 15px;
        border-right: 1px solid #E9E1E8;
        border-left: 1px solid #FDFDFD;
        dt{
            font-size: 14px;
            color: #777;
            line-height: 24px;
        }
        dd{
            margin-left: 3px;
        }
        dd a {
            font-size: 12px;
            line-height: 22px;
            color: #777;
            padding-left: 9px;
        }
    }
    img{
        margin: 0 auto;
    }
}
.foot-nav{
    border-top: 3px solid #ff5482;
    padding: 10px 0;
    text-align: center;
    background: #555;
    color: #ddd;
    font-size: 12px;
    a{
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        outline: 0;
        margin: 0 10px;
        color: #ddd;
    }
    a:hover{
        color: #FFFFFF;
    }
}
.root{
    height: 101px;
    padding: 20px 0 40px;
    p{
        width: 1080px;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #999;
        a{
            color: #999;
            font-size: 12px;
        }
    }
    p:nth-child(2){
        margin-top: 8px;
    }
    .mt{
        margin-top: 20px;
        text-align: center;
        a{
            display: inline-block;
            margin-right: 5px;
        }
        img{
            width: 90px;
            height: 32px;
        }
    }
}
.side-panel{
    position: fixed;
    bottom: 160px;
    left: 50%;
    margin-left: 550px;
    
    width: 70px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    z-index: 999;
    .wrap-side-panel{
        background: #FFFFFF;
        opacity: 0.75; 
        div{
            opacity: 1;
            height: 27px;
            padding: 8px 0;
            border-top: 1px solid #e6e6e6;
            color: #ff647c;
            text-align: center;
            cursor: pointer;
            i{
                font-size: 18px;
            }
            #counts{
                text-align: center;
                display: inline-block;
                position: absolute;
                line-height: 14px;
                top: 7px;
                right: 5px;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                background: #7dca00;
                color: #FFFFFF;
                font-size: 11px;
            }
        }
       
    } 
    .fixed-cart-top{
        height: 27px;
        width: 320px;
        background: rgb(255, 249, 251);
        color: rgb(255, 84, 130);
        font-size: 13px;
        text-align: center;
        padding: 2px 15px;
        border-bottom: 1px solid rgb(227, 227, 227);
        line-height: 27px;
        i{
            font-weight: bole;
            font-size: 20px;
        }
    }
    .fixed-cart{
        display: none;
        opacity: 1;
        position: absolute;
        width: 350px;
        height: auto;
        border: 1px solid rgb(255, 84, 130);
        left: -350px;
        bottom:-50px;
        background: #FFFFFF;
        .fixed-cart-center{
            max-height: 424px;
            width: 350px;
            .wrap{
                height: 160px;
//              display: none;
                @include goods;
            }
            ul{
                width: 100%;
                max-height: 424px;
                background: rgb(255, 255, 255);
                overflow-y: hidden;
                overflow: hidden;
                li{
                    display: list-item;
                    padding: 12px;
                    list-style: none;
                    position: relative;
                    overflow: hidden;
                    height: 60px;
                    border-bottom: none;
                    a:nth-child(2){
                        position: absolute;
                        left: 0px;
                        top: 15px;
                        padding: 0px 10px 0px 80px;
                        line-height: 1.2em;
                        height: 30px;
                        overflow: hidden;
                        font-size: 13px;
                        margin: 0px;
                        width: 50%;
                        z-index: 3;
                    }
                    img{
                        border: 2px solid rgb(204, 204, 204);
                        background: rgb(255, 255, 255);
                        padding: 2px;
                        width: 50px;
                        height: 50px;
                        position: relative;
                        z-index: 4;
                    }
                    p:nth-child(3){
                        position: absolute;
                        color: rgb(170, 170, 170);
                        left: 0px;
                        top: 52px;
                        padding: 0px 10px 0px 80px;
                        line-height: 1.2em;
                        height: 14px;
                        overflow: hidden;
                        font-size: 12px;
                        margin: 0px;
                        width: 50%;
                    }
                    p:nth-child(4){
                        position: absolute;
                        color: rgb(255, 84, 130);
                        right: 15px;
                        top: 25px;
                        overflow: hidden;
                        font-size: 16px;
                        padding-left: 80px;
                        margin: 0px;
                        width: 30%;
                        line-height: 1em;
                        text-align: right;
                        span{
                            display: inline;
                            color: rgb(136, 136, 136);
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .fixed-cart-bottom{
            height: 47px;
            border-top: 1px solid rgb(227, 227, 227);
            width: 350px;
            background: rgb(255, 249, 251);
            .cartotle{
                padding: 10px 15px;
                font-size: 13px;
                color: rgb(102, 102, 102);
                float: left;
                #cash{
                    font-size: 18px;
                    color: rgb(229, 51, 99);
                    line-height: 27px;
                }
            }
            button{
                cursor: pointer;
                @include btn;
                i{
                    font-size: 16px;
                }
            }
        }
    }
    .tel-fixed{
        display: none;
        position: absolute;
        left: -184px;
        top: -62px;
        width: 160px;
        padding: 10px;
        background: #FFFFFF;
        border: 2px solid #ff4965;
        img{
            margin-top: 10px;
            width: 158px;
            height: 158px;
        }
        p{
            font-size: 13px;
            color: #333;
            line-height: 16px;
            text-align: center;  
            margin: 0;
        }
    }
}
#fixed-sub-nav{
    display: none;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    z-index: 999;
    width: 100%;
    height: 37px;
    box-shadow: 0 1px 5px #bbb;
    .fixed-sub-nav-logo{
        width: 98px;
        height: 48px;
        margin-right: 18px;
        background: url("http://b0.hucdn.com/party/default/92788ffe070a9643a1bc1d8e2284b182.png") no-repeat;
        a{
            height: 100%;
            width: 100%;
        }
        a:hover{
            border: 0;
        }
    }
    a{
        line-height: 34px;
    }
    .trailer-left{
        float: right;
        height: 37px;
        width: 100px;
        padding:  0 8px;
        text-align: center;
        line-height: 37px;
        background: #f7f7f7;
        a{
            color: #ff506b;
            padding: 0;
            border: 0;
            width: 100%;
            font-size: 15px;
            line-height: 34px;
            height: 37px;
        }
        i{
            font-size: 14px;
            line-height: 16px;
            height: 16px;
            width: 16px;
            display: inline-block;
            background: #ff506b;
            border-radius: 2px;
            color: #FFFFFF;
        }
        
    }
    .trailer-right{
        float: right;
        height: 37px;
        width: 100px;
        padding:  0 8px;
        text-align: center;
        line-height: 37px;
        background: #f7f7f7;
        border-right: 1px solid #ddd;
        a{
            padding: 0;
            border: 0;
            width: 100%;
            text-align: center;
            color: #7f4dbc;
            font-size: 15px;
            line-height: 34px;
            height: 37px;
        }
        i{
            font-size: 13px;
            line-height: 16px;
            height: 16px;
            width: 16px;
            display: inline-block;
            background: #7f4dbc;
            border-radius: 2px;
            color: #FFFFFF;
        }
        
    }
}
  