@import "reset";
@font-face {
  font-family: 'iconfont';  /* project id 540628 */
  src: url('http://at.alicdn.com/t/font_540628_1ic5c8zowqzlrf6r.eot');
  src: url('http://at.alicdn.com/t/font_540628_1ic5c8zowqzlrf6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_540628_1ic5c8zowqzlrf6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_540628_1ic5c8zowqzlrf6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_540628_1ic5c8zowqzlrf6r.svg#iconfont') format('svg');
}
body{
    overflow: scroll;
    overflow-x:hidden;
}
.iconfont {
    font-family: "iconfont";
    font-size: 12px; 
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px; 
    vertical-align: middle;
}
@mixin goods{
    color: rgb(153, 145, 140); 
    height: 160px;
    line-height: 160px;
    text-align: center;
    font-size: 16px;  
}
@mixin btn{
    height: 35px;
    padding: 4px 12px;
    float: right;
    background: rgb(255, 84, 130);
    font-size: 13px;
    line-height: 24px;
    border-color: rgb(255, 60, 112) rgb(255, 60, 112) rgb(229, 51, 99);
    margin: 6px 15px;
    border-radius: 4px;
    color: #FFFFFF;
}
@mixin titles{
    width: 301px;
    height: 64px;
    margin: 0 auto 50px;
}
@mixin bg{
    padding: 10px 0 20px 0;
    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png");
}
$col:#FF4965;
$wei:700;
.head{
    position: relative;
    z-index: 100;
    height: 80px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.06);
    width: 100%;
    .comwidth{
        height: 100%;
        width: 1000px;
        >a{
            line-height: 80px;
            height: 80px;
            font-size: 28px;
            color: $col;
            .over{
                width: 66px;
                height: 68px;
                overflow: hidden;
                padding-top: 20px;
                margin-right: 16px;
                img{
                    height: 48px;
                    margin-left: -1px;
                }
            }
        }
        ul{
            margin-left: 72px;
            li{
                float: left;
                height: 80px;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;
                line-height: 80px;
                a{
                    display: inline-block;
                    line-height: 16px;
                    font-size: 14px;
                    padding: 0 20px;
                    color: #36435c;
                    font-weight: $wei;
                }
            }
            li:nth-child(1){
                border-bottom: 3px solid #FF4965;
                a{
                    color: #FF4965;
                }
            }
        }
        .consult{
            padding: 4px 10px 4px 12px;
            border: 1px solid #36435C;
            border-radius: 100px;
            margin-top: 24px;
            a{
                font-size: 12px;
                color: #36435C;
                line-height: 16px;
                i{
                    font-size: 16px;
                }
            }
        }
        .consult:hover{
            background: #FF4965;
        }
        .consult:hover a{
            color: #fff;
        }
    }
}
$int:linear-gradient(to bottom,#18005f,#fe43a5);
.container{
    .comwidth{
        width: 100%;
        .attract-index{
            display: block;
            width: 100%;
            .warn-wrap{
                background: #fef7e8;
                .warn{
                    width: 1002px;
                    margin: 0 auto;
                    padding: 9px 0;
                    color: #4a4a4a;
                    line-height: 21px;
                    font-size: 14px;
                    .warn-wrap-content{
                        margin-left: 16px;
                    }
                }
                .warn:before{
                    display: inline-block;
                    float: left;
                    width: 12px;
                    height: 12px;
                    margin: 4px 4px 0 0 ;
                    content: "";
                    background: url("http://b0.hucdn.com/party/2017/1/upload_8c570a8105fffad376a5a5ca12e5b5ea_12x12.png") center no-repeat;
                }
            }
            .attract-wrap{
                height: 400px;
                background: linear-gradient(to bottom,#18005f,#fe43a5);
                .attract-bg{
                    text-align: center;
                    width: 100%;
                    height: 400px;
                    color: #fff;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png") repeat;
                    h2{
                        font-size: 48px;
                        padding-top: 32px;
                        font-weight: bold;
                        line-height: 72px;
                    }
                    .attract-info{
                        width: 234px;
                        padding: 6px 12px;
                        border-bottom: 1px solid #fff;
                        border-top: 1px solid #fff;
                        font-size: 18px;
                        margin: 28px auto 46px auto;
                        line-height: 27px;
                    }
                    a{
                        width: 146px;
                        padding: 10px 14px;
                        display: inline-block;
                        background: #fff;
                        font-size: 20px;
                        font-weight: 700;
                        color: #36435c;
                        border-radius: 4px;
                        line-height: 30px;
                    }
                    a:nth-child(4){
                        margin-left: 100px;
                    }
                    p{
                        padding-top: 28px;
                        a{
                            width: auto;
                            padding: 4px 26px;
                            border: 2px solid #fff;
                            border-radius:100px;
                            font-size: 18px;
                            display: inline-block;
                            background: transparent;
                            color: #fff;
                            font-weight: normal;
                        }
                    }
                }
            }
            .step-wrap{
                height: 160px;
                width: 100%;
                ul{
                    margin: 0 auto;
                    width: 876px;
                    li{
                        float: left;
                        padding: 0 74px;
                        margin-top: 30px;
                        border-right: 1px solid #f2f4f6;
                        .step-title{
                            i{
                                font-size: 18px;
                                line-height: 10px;
                            }
                            font-size: 18px;
                            font-weight: 700;
                            color: #36435c;
                            margin-bottom: 3px;
                            text-align: center;
                            line-height: 36px;
                        }
                        .step-info{
                            font-size: 14px;
                            color: #8f8f8f;
                            text-align: center;
                            margin-bottom: 16px;
                            line-height: 21px;
                        }
                        a{
                            display: block;
                            padding: 8px 42px;
                            border: 1px solid #b8b8b8 ;
                            color: #3d3d3d;
                            border-radius: 4px;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .detail-wrap{
                padding: 22px 0 100px;
                .detail-title{
                    width: 189px;
                    height: 64px;
                    margin: 0 auto 42px;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_9b346a66183c04de76c8845bd9f4933d_189x64.png") no-repeat;
                }
                .detail-content{
                    width: 917px;
                    height: 215px;
                    margin: 0 auto;
                    background: url("http://h0.hucdn.com/open/201729/85cb43932095fe2b_917x215.png") no-repeat;
                }
            }
        }
        .enter-standard{
            display: none;
            .introduce-bg-wrap{
                height: auto;
                width: 100%;
                background: $int;
                .introduce-bg{
                    width: 100%;
                    height: auto;
                    padding: 10px 0 20px 0;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png");
                    .enter-top{
                        width: 1000px;
                        height: 417px;
                        background: #FFFfff;
                        border-radius: 4px;
                        box-sizing: border-box;
                        padding-top: 42px;
                        margin: 0 auto 10px;
                        .detail-title{
                            width: 189px;
                            height: 64px;
                            margin: 0 auto 42px;
                            background: url("http://b0.hucdn.com/party/2016/12/upload_9b346a66183c04de76c8845bd9f4933d_189x64.png") no-repeat;
                        }
                        .detail-content{
                            width: 917px;
                            height: 215px;
                            margin: 0 auto;
                            background: url("http://h0.hucdn.com/open/201729/85cb43932095fe2b_917x215.png") no-repeat;
                        }
                    }
                    .enter-bottom{
                        width: 1000px;
                        padding: 42px 60px 50px 60px;
                        margin: 0 auto 48px;
                        box-sizing: border-box;
                        border-radius: 4px;
                        background: #fff;
                        .detail-title{
                            width: 189px;
                            height: 64px;
                            margin: 0 auto 42px;
                            background:url("http://b0.hucdn.com/party/2016/12/upload_f48d0a1175b7787fe39bc0ba50ae897f_218x64.png") no-repeat;
                        }
                        .enter-info{
                            font-size: 14px;
                            line-height: 21px;
                            color: #4a4a4a;
                            margin-top: 50px;
                        }
                        .aptitude{
                            font-size: 14px;
                            .aptitude-title{
                                line-height: 21px;
                                margin-top: 30px;
                                color: #4a4a4a;
                                font-weight: 700;
                                span{
                                    font-weight: 400;
                                    color: #ff7f00;
                                }
                            }
                        }
                        table{
                            width: 880px;
                            border-collapse:collapse;
                            border-spacing: 0;
                            font-size: 14px;
                            text-align: center;
                            color: #4a4a4a;
                            thead{
                                background: #f8f8f9;
                            }
                            td{
                                padding: 20px 0;
                                border: 1px solid #e5e8ef;
                                li{
                                    line-height: 21px;
                                }
                                a{
                                    font-size: 14px;
                                    color: #4d7dff;
                                }
                            }
                            .text{
                                padding: 20px 22px;
                                text-align: left;
                            }
                        }
                        .aptitude-foot{
                            margin-top: 10px;
                        }
                        .enter-comments{
                            line-height: 21px;
                            .comments-title{
                                margin-top: 30px;
                                color: #4a4a4a;
                                font-weight: 700;
                            } 
                            ul{
                                ul{
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .business-introduce{
            display: none;
            width: 100%;
            .business-wrap{
                width: 100%;
                height: 100%;
                background: $int;
                .business-bg{
                    width: 100%;
                    height: auto;
                    padding: 10px 0 20px 0;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png");
                    .business-title{
                        background: #fff;
                        height: auto;
                        padding: 42px 60px 50px 60px;
                        width: 880px;
                        margin: 0 auto;
                        border-radius: 4px;
                        .detail-title{
                            @include titles;
                            background: url("http://b0.hucdn.com/party/2016/12/upload_3463dad6a6f569ec553de6f62a26ba38_301x64.png") no-repeat;
                        }
                        .business-list{
                            li{
                                float: left;
                                padding-left: 20px;
                                margin: 0 10px 10px 0;
                                width: 435px;
                                height: 300px;
                                box-sizing: border-box;
                                .list-title{
                                    font-size: 18px;
                                    color: #36435c;
                                    font-weight: 700;
                                    margin: 18px 0 20px 0;
                                }
                                .list-content{
                                    font-size: 14px;
                                    color: #4a4a4a;
                                    width: 330px;
                                    margin-bottom: 20px;
                                }
                            }
                            li:nth-child(even){
                                margin-right: 0;
                            }
                            li:nth-child(1){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_50c86c9568b0fe627267a089b3f65080_435x300.png") no-repeat;
                            }
                            li:nth-child(2){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_6330ba28d1e7d6c898232e5735d331e7_435x300.png") no-repeat;
                            }
                            li:nth-child(3){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_dff9cccdc07bd36cc45aa478d673113e_435x300.png") no-repeat;
                            }
                            li:nth-child(4){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_95682d97d0995eeeacd232e1bdebbce0_435x300.png") no-repeat;
                            }
                            li:nth-child(5){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_da59d9844376b0930451192b8cc60bf4_435x300.png") no-repeat;
                            }
                            li:nth-child(6){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_71f2797e3251506492f39a8dd3e13fc5_435x300.png") no-repeat;
                            }
                            li:nth-child(7){
                                background: url("http://b0.hucdn.com/party/2016/12/upload_65dbc606e08f9b497b5921e08b8aab82_435x300.png") no-repeat;
                            }
                        }
                    }
                }
            }
        }
        .charge-standard{
            display: none;
            .charge-wrap{
                background: $int;
                .charge-bg{
                    padding: 10px 0 20px 0;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png");
                    .charge-content{
                        width: 1000px;
                        padding: 42px 60px 20px 60px;
                        box-sizing: border-box;
                        background: #fff;
                        border-radius: 4px;
                        margin: 0 auto;
                        .charge-title{
                            width: 569px;
                            height: 64px;
                            margin: 0 auto 50px;
                            background: url("http://h0.hucdn.com/open/201715/8c4be270955d28cd_569x64.png") no-repeat;
                        }
                        .charge-contents{
                            line-height: 22px;
                            color: #4a4a4a;
                            font-size: 14px;
                            margin-bottom: 30px;
                            .contents-title{
                                font-weight: 700;
                                line-height: 21px;
                                margin-bottom: 10px;
                                color: #4a4a4a;
                                ul{
                                   a{
                                       color: #4d7dff;
                                   } 
                                }
                            }
                        }
                    }
                }
            }
        }
        .common-ques{
            display: none;
            .ques-wrap{
                background: $int;
                .ques-bg{
                    padding: 10px 0 20px 0;
                    background: url("http://b0.hucdn.com/party/2016/12/upload_34a1e9ba972449dcdb00ea2445fa4d2a_504x249.png");
                    .ques-content{
                        background: #fff;
                        width: 1000px;
                        box-sizing: border-box;
                        padding: 42px 60px 26px 60px;
                        border-radius: 4px;
                        margin: 0 auto;
                        .ques-title{
                            width: 184px;
                            height: 64px;
                            margin: 0 auto 50px;
                            background: url("http://b0.hucdn.com/party/2016/12/upload_24124f1e7313d052af609231072c2f1f_184x64.png") no-repeat;
                        }
                        .ques-contents{
                            h1{
                                line-height: 36px;
                                font-size: 26px;
                                display: block;
                                color: #4A4A4A;
                                font-weight: bold;
                            }
                            ul{
                                li{
                                    margin-bottom: 24px;
                                    h2{
                                        margin-bottom: 6px;
                                        font-size: 14px;
                                        color: #4A4A4A;
                                        font-weight: 700;
                                        line-height: 21px;
                                    }
                                    .ques-ans{
                                        line-height: 21px;
                                        span{
                                            color: red;
                                            line-height: 21px;
                                        }
                                        p{
                                            line-height: 21px;
                                        }
                                        a{
                                            color: #08c;
                                        }
                                        i{
                                            font-weight: bold;
                                        }
                                    }
                                    table{
                                        width: 600px;
                                        border-collapse: collapse;
                                        border-spacing: 0;
                                        thead{
                                            tr{
                                                th{
                                                   font-weight: bold; 
                                                }
                                                th:nth-child(2){
                                                    padding-left:5px ;
                                                }
                                            }
                                        }
                                        tr{
                                            th:first-child{
                                                width: 20%;
                                                text-align: center;
                                                padding: 10px 0;
                                            }
                                            th{
                                                font-weight: normal;
                                                border: 1px solid #333;
                                                p{
                                                    padding: 10px 0;
                                                }
                                            }
                                            th:nth-child(2){
                                                padding-left:5px ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.foot-nav{
    border-top: 3px solid #ff5482;
    padding: 10px 0;
    text-align: center;
    background: #555;
    color: #ddd;
    font-size: 12px;
    a{
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        outline: 0;
        margin: 0 10px;
        color: #ddd;
    }
    a:hover{
        color: #FFFFFF;
    }
}
.root{
    height: 44px;
    padding: 20px 0 40px;
    p{
        width: 1080px;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #999;
        a{
            color: #999;
            font-size: 12px;
        }
    }
    p:nth-child(2){
        margin-top: 8px;
    }
    .mt{
        margin-top: 20px;
        text-align: center;
        a{
            display: inline-block;
            margin-right: 5px;
        }
        img{
            width: 90px;
            height: 32px;
        }
    }
}
.feedback{
    margin-right: -591px;
    position: fixed;
    bottom: 187px;
    right: 50%;
    width: 40px;
    height: 68px;
    cursor: pointer;
    background: url("http://h0.hucdn.com/open/201711/8277f77fc8371b5c_89x78.png") no-repeat;
    background-size: 40px 35px;
    background-position: 0 12px;
    transition: background-position .3s;
    img{
        position: absolute;
        bottom: -17px ;
        right: 0;
        width: 40px;
    }
}
.popup{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(40,46,51,.5);
    text-align: center;
    .dialog{
        display: inline-block;
        width: 750px;
        border-radius: 2px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.04);
        box-sizing: border-box;
        background: #fff;
        position: relative;
        vertical-align: middle;
        .header{
            padding: 20px 20px 0;
            text-align: left;
            position: relative;
            span{
                font-weight: 700;
                font-size: 16px;
                color: #4a4a4a;
            }
            i{
                float: right;
                cursor: pointer;
            }
        }
        .body{
            padding: 30px 20px;
            font-size: 14px;
            color: #4a4a4a;
            .item-first-div{
                ul{
                    display: none;
                    background: #fff;
                    position: absolute;
                    width: 178px;
                    height: 254px;
                    left: 100px;
                    top: 36px;
                    overflow-y: scroll;
                    overflow-y: hidden;
                    z-index: 10000;
                    border: 1px solid #d8dadf;
                    li{
                        position: relative;
                        cursor: pointer;
                        padding: 11px 8px;
                        box-sizing: border-box;
                        height: 36px;
                        text-align: left;
                        line-height: 14px;
                        i{
                            position: absolute;
                            left: 150px;
                        }
                    }
                    li:first-child{
                        color:  #ff4965;
                        background: #f7f9fc;
                    }
                    li:hover{
                        background: #f7f9fc;
                    }
                }
                ul:hover{
                    overflow-y: scroll;
                }
                ul::-webkit-scrollbar {/*滚动条整体样式*/
                    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
                    height: 1px;
                }
                ul::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                    border-radius: 3px;
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
                    background: rgba(0,0,0,0.05);
                }
                ul::-webkit-scrollbar-track {/*滚动条里面轨道*/
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
                    border-radius: 0;
                    background: rgba(0,0,0,0);
                }
            }
            .item{
                position: relative;
                margin-bottom: 22px;
                padding-top: 2px;
                label{
                    width: 88px;
                    float: left;
                    line-height: 14px;
                    padding: 9px 12px 13px 0;
                    text-align: right;
                    i{
                        margin-right: 4px;
                        color: red;
                    }
                }
                .drop-down{
                    transition: border .5s;
                    cursor: pointer;
                    margin-left: 100px;
                    height: 24px;
                    width: 170px;
                    padding: 3px 0 3px 8px ;
                    border: 1px solid #d8dadf;
                    text-align: left;
                    line-height: 24px;
                    color: #000000;
                    i{
                        cursor: pointer;
                        float: right;
                        width: 38px;
                        height: 24px;
                        line-height: 24px;
                        font-size: 16px;
                        text-align: center;
                        font-weight: 100;
                    }
                }
                .drop-down:hover{
                    border-color: dodgerblue;
                }
                textarea{
                    float: left;
                    width: 284px;
                    height: 84px;
                    padding: 5px 7px;
                    border-radius: 4px;
                    border: 1px solid #d8dadf;
                    font-size: 14px;
                    transition: border .5s;
                }
                textarea:hover{
                    border: 1px solid dodgerblue;
                }
                .upload{
                    float: left;
                    button{
                        outline: none;
                        filter:chroma(color=#000000);
                        cursor: pointer;
                        border: 1px solid #d8dadf;
                        border-radius: 2px;
                        padding: 4px 17px;
                        background-color: #f7f7f7;
                    }
                    .tip{
                        font-size: 12px;
                        color: #8F8F8F;
                        margin-top: 8px;
                    }
                    button:hover{
                        background: #ffdfff;
                    }
                }
            }
        }
        .footer{
            height: 30px;
            width: 708px;
            padding: 10px 20px 15px;
            button{
                outline: none;
                filter:chroma(color=#000000);
                height: 30px;
                cursor: pointer;
                line-height: 16px;
                float: right;
                padding: 7px 21px ;
                background: #fff;
                border: 1px solid #d8dadf;
            }
            button:nth-child(1){
                margin-left: 10px;
            }
            button:nth-child(2){
                background: #ff4965;
                border-color: #ff4965;
                color: #fff;
            }
            button:nth-child(2):hover{
                background: #ff6965;
                border-color: #ff6965;
            }
        }
    }
}
.popup:after{
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.feedback:hover{
    background-position: 0 6px;
}

.rotate{
    transform-origin:center center; //旋转中心要是正中间 才行
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: transform 0.3s; //过度时间 可调
    -moz-transition: -moz-transform 0.3s; 
    -moz-transition: -moz-transform 0.3s; 
    -o-transition: -o-transform 0.3s; 
    -ms-transition: -ms-transform 0.3s; 
}
.rotate1{
    transform-origin:center center;
    transform: rotate(0deg); //返回原点
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.3s; 
    -moz-transition: -moz-transform 0.3s; 
    -moz-transition: -moz-transform 0.3s; 
    -o-transition: -o-transform 0.3s; 
    -ms-transition: -ms-transform 0.3s; 
}
.pinkbox{
    display: none;
    width: 214px;
    height: 14px;
    padding: 18px 12px;
    border: 1px solid #fddfdf;
    position: fixed;
    left: 50%;
    top: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
    transition: opacity .3s,transform .4s;
    background-color: #fff4f4;
    z-index: 10001;
    border-radius: 8px;
    margin-left: -120px;
    line-height: 14px;
    i{
        color: red;
        font-size: 24px;
    }
}

  